* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  line-height: 1.4;
  background: #F9F8FD;
  color: #3D1483;
}

h1{
  font-family: "Cinzel Decorative", serif;
  font-size: 27px;
  font-weight: 400 !important;
  font-style: normal;
  color: #391478;
}

p {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: inherit;
  font-size: 17px;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: inherit;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400 !important;
  font-style: normal;
}

hr {
  margin: 10px 6rem;
  color: #AEA5C0 !important;
}

/* ========================= */
/* FEEDBACKS */
/* ========================= */

.titlefeedbacks{
  margin: 6rem 2rem 1rem 2rem;
  text-align: center;
  font-size:35px;
  font-family: "Cinzel Decorative", serif;
}

.feedbacks{
  color: #391478;
  margin: 7rem 0;
  padding: 0 0 0 2rem;
  text-align: center;
}

/* ✅ SCROLL MANUAL AJUSTADO */
.feedbacksroll{
  display: flex;
  flex-wrap: nowrap;
  overflow-x:auto;
  gap: 10px;
  padding: 3rem 0;
  scroll-behavior: smooth;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;

  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
}

.feedbacksroll:active{
  cursor: grabbing;
}

.feedbacksroll::-webkit-scrollbar {
  display: none;
}

.item{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin:5px;
  width: 350px;
  min-height: 260px;
  background-color:white;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 2rem 3rem;
  color: #3D1483;

  /* ✅ PERMITE ARRASTAR SEM PRECISAR CLICAR */
  pointer-events: none;
}

.headerfeedback{
  display:flex;
  align-items: center;
  margin-bottom: 10px;
}

.perfil{
  width:10px;
  margin-right:12px;
}

.line {
  height:10px;
  color:#3D1483;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

.linelong{
  width:270px;
  text-align: left;
}

.lineshort{ 
  padding: 4px 0 0 0;
  width:280px;
  text-align: left;
  font-size: 12px;
}
